<% layout("layout.ejs") -%>	
<body>
<div class="row">
	<div class="col-lg-6 col-md-offset-3">

		<form method="post">
			<h3>Enter the details of the game you'd like to trade:</h3><br>

			<div class="form-group">
				<label="name">Game name: </label>
				<input type="text" class="form-control" name="gamename">
			</div>

			<div class="form-group">
				<label="name">Game genre: </label>
				<select class="form-control" name="gamegenre">
				    <option value="one">Select genre for your game</option>
				    <option value="Strategy">Strategy</option>
				    <option value="Trivia">Trivia</option>
				    <option value="EconomicSimulation">Economic Simulation</option>
				    <option value="MurderandMystery">Murder and Mystery</option>
				    <option value="WordGames">Word Games</option>
				</select>
			</div>
			

			<div class="form-group">
				<label="name">Game language: </label>
				<input type="text" class="form-control" name="gamelanguage">
			</div>

			<div class="form-group">
				<label="name">Year published: </label>
				<input type="number" class="form-control" name="yearpublished">
			</div>

			<div class="form-group">
				<label="name">Game image: </label>
				<input type="text" class="form-control" name="gameimage">
			</div>

			<div class="form-group">
				<label="name">Price paid: </label>
				<input type="number" class="form-control" name="pricepaid">
			</div>

			<div class="form-group">
				<label="name">Date posted: </label>
				<input type="number" class="form-control" name="dateposted">
			</div>

			<div class="form-group">
				<label="name">quantity: </label>
				<input type="number" class="form-control" name="gamequantity">
			</div>

			<button type="submit" class="btn btn-success">Submit</button>

		</form>
	</div>
</div>
</body>
