<% layout("layout.ejs") -%>	
<body>
<div class="row">
	<div class="col-lg-6 col-md-offset-3">

		<form method="post">
			<h3>Enter the details of the game you'd like to trade:</h3><br>

			<div class="form-group">
				<label="name">Game name: </label>
				<input type="text" class="form-control" name="gamename">
			</div>

			<div class="form-group">
				<label="name">Game language: </label>
				<input type="text" class="form-control" name="gamelanguage">
			</div>

			<div class="form-group">
				<label="name">Year published: </label>
				<input type="number" class="form-control" name="yearpublished">
			</div>

			<div class="form-group">
				<label="name">Game genre: </label>
				<input type="text" class="form-control" name="gamegenre">
			</div>

			<div class="form-group">
				<label="name">Game image: </label>
				<input type="text" class="form-control" name="gameimage">
			</div>

			<div class="form-group">
				<label="name">Price paid: </label>
				<input type="number" class="form-control" name="pricepaid">
			</div>

			<div class="form-group">
				<label="name">Game condition: </label>
				<input type="text" class="form-control" name="gamecondition">
			</div>

			<button type="submit" class="btn btn-success">Submit</button>

		</form>
	</div>
</div>
</body>
